version: "3.9"

services:

  neo4j-staging:
    image: neo4j
    container_name: neo4j-staging
    environment:
      - NEO4J_AUTH=none
      - NEO4J_PLUGINS=["apoc"]
    ports:
      - "7688:7687"   # Bolt
    volumes:
      - /home/ubuntu/da_data/staging/neo4j:/data

  neo4j-production:
    image: neo4j
    container_name: neo4j-production
    environment:
      - NEO4J_AUTH=none
      - NEO4J_PLUGINS=["apoc"]
    ports:
      - "7687:7687"   # Bolt
    volumes:
      - /home/ubuntu/da_data/production/neo4j:/data
