services:
  populate:
    image: ${IMAGE_NAME}
    command: ./workflow.sh
    network_mode: host

    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

    cap_add:
      - SYS_RESOURCE

    env_file:
      - ${ENV_FILE}

    volumes:
      - ${DA_DATA}:/root/da_data 
      - ${DATA_DIR}:/root/ksandr_files_${APP_ENV}
      - ${HF_DIR}:/root/huggingface
      - ${CREDS_PATH}:/ksandr-gpt/ksandr/creds.json:ro
