version: "3.9"

services:
  ksandr-gpt:
    image: ${IMAGE_NAME}
    gpus: all
    cap_add:
      - SYS_RESOURCE

    env_file:
      - ${ENV_FILE}

    volumes:
      - ${CREDS_PATH}:/ksandr-gpt/ksandr/creds.json:ro
      - ${NLTK_DATA}:/root/nltk_data
      - ${HF_DIR}:/root/huggingface
      - ${DA_DATA}:/root/da_data
      - ${DATA_DIR}:/root/ksandr_files_${APP_ENV}

    command: [ "uvicorn", "ksandr.main:app", "--host", "0.0.0.0", "--port", "8080" ]

    ports:
      - "8080:8080"

    stdin_open: true
    tty: true
